.message {
  color: rgb(0, 0, 0);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.log-button {
  margin: 1%
}

.blogContainer {
  border: 1px solid black;
  padding: 3%;
}

.blog-item {
  float: left;
}

.button-remove {
  cursor: pointer;
  position: relative;
}
